<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skripsi.aplikasitajwid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplikasiTajwid">
        <activity android:name=".hijaiyah.Alif"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".hijaiyah.MenuHijaiyah"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".qalqalah.Qalqalah"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".hukum_lam.Hukum_Lam" />
        <activity
            android:name=".hukum_lam.Al_Jalalah"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".hukum_lam.Lam_Tarif"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".nun_mim_tasyid.Nun_Mim_Tasydid"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".mim_mati.Izhar_Syafawi"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".mim_mati.Idgham_Mislain"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".mim_mati.Ikhfa_Syafawi"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".mim_mati.Mim_Mati" />
        <activity
            android:name=".nun_mati_tanwin.Iqlab"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".nun_mati_tanwin.Ikhfa"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".nun_mati_tanwin.Izhar"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".nun_mati_tanwin.Idgham"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".nun_mati_tanwin.NunMati_Tanwin" />
        <activity android:name=".MenuTajwid" />
        <activity android:name=".splashscreen.SplashScreenActivity"></activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>